*{
    margin: 0;
    box-sizing: border-box
}
.home .login .title{

color: aliceblue;

}
.home{
   background-image: url(../img/E11Sw2UVIAQfeB7.jfif);
   background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
  
 
}
.home .login{

 padding: 40px;   
background-color: rgba(16, 16, 115, 0.6);
border-radius: 30%;
text-align: center;
}
.home .login button{
    margin-top: 20px;
    padding: 5px;
    background-color:rgb(231, 231, 231) ;
}
.home .login label{
    color: aliceblue;
}